.generalCreate {
  background-image: url("../../miscellaneous/img2.jpg");
  background-position: right;
  background-attachment: fixed;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .createDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btnSelect {
      font-size: 1em;
      height: 2em;
      background-color: black;
      color: whitesmoke;
      border-radius: 5px;
      margin: 0.1rem 0.05rem;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }
    }

    .btnChossen {
      font-size: 1em;
      height: 2em;
      background-color: rgb(166, 0, 255);
      color: rgb(235, 235, 235);
      border-radius: 5px;
      margin: 0.1rem 0.05rem;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }
    }

    .btnBack {
      margin-top: 3em;
      margin-bottom: 2em;

      button {
        font-size: 1em;
        font-family: "Press Start 2P", cursive;
        height: 2em;
        width: 15em;
        background-color: black;
        color: whitesmoke;
        border-radius: 5px;

        &:hover {
          background-color: whitesmoke;
          color: black;
        }
      }
    }

    h1 {
      color: whitesmoke;
      font-size: 3em;
      font-weight: 500;
      text-align: center;
      margin: 0;

      font-family: "Press Start 2P", cursive;
      -webkit-text-stroke: 2px rgb(51, 51, 51);
    }

    form {
      margin: 1em;
      color: whitesmoke;
      width: 60vw;

      input,
      textarea {
        width: 100%;
        background-color: rgb(0, 0, 0);
        color: rgb(170, 170, 170);
        border-radius: 5px;
      }

      .h4 {
        font-family: "Press Start 2P", cursive;
        text-align: center;
        font-size: 1.3rem;
        margin: 0;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
      }

      .h4alert {
        @extend .h4;
        color: rgb(231, 227, 0);
      }

      .formElement {
        margin: 1em 0;
        font-size: 1.5rem;
      }

      .formElementAlert {
        @extend .formElement;
        color: rgb(231, 227, 0);
      }

      .errText {
        color: rgb(231, 227, 0);
        font-size: small;
        margin-top: 0;
      }

      .formGenres {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .formPlatforms {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .finalBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .btnSubmit {
      margin-top: 1em;
      margin-bottom: 3em;
      font-size: 1em;
      font-family: "Press Start 2P", cursive;
      height: 2.1em;
      width: 20em;
      background-color: black;
      color: whitesmoke;
      border-radius: 5px;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }
    }

    .btnSumbitDisabled {
      @extend .btnSubmit;
      background-color: gray;
      color: darkgray;

      &:hover {
        background-color: gray;
        color: darkgray;
      }
    }
  }
}
