.card {
  background-color: rgba(31, 31, 31, 0.781);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 90%;
  margin: 0.5em;

  &:hover {
    box-shadow: 2px 2px 15px #000000, -2px -2px 15px #ffffff;
  }

  h4 {
    margin: 10px 10px 0 0;
    align-self: end;
    color: rgb(194, 201, 55);
    font-size: small;
  }

  h3 {
    margin: 0 0 0.5em 0;
    color: rgb(249, 249, 249);
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
  img {
    height: 20vh;
    width: 99%;
  }
  h5 {
    color: rgb(239, 239, 239);
    font-size: 0.9em;
    font-weight: 600;
    text-align: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
  }
}
