.detailDiv {
  background-image: url("../miscellaneous/img2.jpg");
  background-position: right;
  background-attachment: fixed;
  height: 100vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;

  h1 {
    font-family: "Press Start 2P", cursive;

    color: whitesmoke;
    font-size: 2em;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
  }

  .detData {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;

    .detImg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        border-radius: 20px;
        max-height: 40vh;
        max-width: 40vw;
      }
    }

    .detText {
      overflow: scroll;
      max-height: 40vh;
      margin: 1em;
      border-radius: 20px;
      color: whitesmoke;
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 1.2em;
      text-align: center;
    }
  }

  .detInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em 1em;
    color: whitesmoke;
    font-size: 1.2em;
    text-align: center;

    h4 {
      margin: 0.5em 1em;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 5px;
    }

    span {
      color: rgb(186, 183, 0);
    }
  }

  .response {
    h1 {
      font-family: "Press Start 2P", cursive;
      text-align: center;
      animation-name: slidein;
      animation-duration: 10s;
      margin-bottom: 2em;

      @keyframes slidein {
        from {
          font-size: 1px;
          color: rgba(255, 0, 0, 0);
        }
        to {
          font-size: 2em;
          color: whitesmoke;
        }
      }
    }
  }

  .detBack {
    margin-bottom: 2em;

    button {
      font-size: 1em;
      font-family: "Press Start 2P", cursive;
      height: 2em;
      width: 15em;
      background-color: black;
      color: whitesmoke;
      border-radius: 5px;

      &:hover {
        background-color: whitesmoke;
        color: black;
      }
    }
  }
}
