.filterBar {
  display: flex;
  justify-content: center;
  margin: 1.5em auto;

  select {
    width: auto;
    height: 2em;
    margin: auto 0.15em;

    background-color: rgba(31, 31, 31, 0.781);
    color: whitesmoke;
    border-radius: 5px;

    &:hover {
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }

  button {
    margin-left: 2em;

    background-color: rgba(31, 31, 31, 0.781);
    color: whitesmoke;
    border-radius: 5px;

    &:hover {
      background-color: rgb(255, 255, 255);
      color: black;
    }
  }
}

.cardSpace {
  display: grid;
  grid-template-columns: 32vw 33vw 32vw;
  margin: 1em auto 1em 0.5em;
}
